.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    cursor: pointer
}

.form-login {
    display: block;
    padding: 1em;
    min-width: 280px; /* change width as per your requirement */
}

.navbar-btn {
    margin-left: 8px;
    margin-right: 8px;
}

.label-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}