<h1>Winkelmandje</h1>
<div ng-show="items.length > 0">
    <table class="table">
        <thead>
        <tr>
            <th>Product</th>
            <th>Hoeveelheid</th>
            <th>Prijs</th>
            <th>Totaal</th>
            <th></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>{{total | currency:"€"}}</td>
            <td></td>
        </tr>
        </tfoot>
        <tbody>
        <tr ng-repeat="item in items">
            <td>{{item.name}}</td>
            <td>{{item.amount}}
                <div class="btn-group btn-group-sm" role="group">
                    <button ng-click="addItem(item.id)" type="button" class="btn btn-success"><span
                            class="glyphicon glyphicon-plus"></span></button>
                    <button ng-click="removeItem(item.id)" type="button" class="btn btn-danger"><span
                            class="glyphicon glyphicon-minus"></span></button>
                </div>
            </td>
            <td>{{item.price |currency:"€"}}</td>
            <td>{{item.price * item.amount | currency:"€"}}</td>
            <td>
                <button ng-click="clearItem(item.id)" type="button" class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/#/place-order" class="btn btn-success" role="button"><span
            class="glyphicon glyphicon-shopping-cart"></span> Bestelling plaatsen</a>
    <button type="button" ng-click="cart.clearItems()" class="btn btn-danger"><span
            class="glyphicon glyphicon-trash"></span> Verwijder alles
    </button>
</div>
<div ng-show="items.length < 1 && ready === true">U heeft geen artikelen in uw winkelmandje</div>