<div ng-hide="ready">
    <h1>Bestelling plaatsen</h1>
    <form name="orderForm" class="form-horizontal" novalidate>
        <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label">Voornaam</label>
            <div class="col-sm-10">
                <input ng-model="customer.firstName" type="text" class="form-control" id="firstName"
                       placeholder="Voornaam"
                       required>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="col-sm-2 control-label">Achternaam</label>
            <div class="col-sm-2">
                <input ng-model="customer.infix" type="text" class="form-control" id="infix"
                       placeholder="Tussenvoegsel">
            </div>
            <div class="col-sm-8">
                <input ng-model="customer.lastName" type="text" class="form-control" id="lastName"
                       placeholder="Achternaam"
                       required>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input ng-model="customer.email" type="email" class="form-control" id="email" placeholder="Email"
                       required>
            </div>
        </div>
        <div class="form-group">
            <label for="street" class="col-sm-2 control-label">Adres</label>
            <div class="col-sm-8">
                <input ng-model="customer.street" type="text" class="form-control" id="street"
                       placeholder="Straat"
                       required>
            </div>
            <div class="col-sm-2">
                <input ng-model="customer.houseNumber" type="text" class="form-control" id="houseNumber"
                       placeholder="Huisnummer" required>
            </div>
        </div>
        <div class="form-group">
            <label for="city" class="col-sm-2 control-label">Woonplaats</label>
            <div class="col-sm-2">
                <input ng-model="customer.postCode" type="text" class="form-control" id="postCode"
                       placeholder="Postcode"
                       required>
            </div>
            <div class="col-sm-8">
                <input ng-model="customer.city" type="text" class="form-control" id="city" placeholder="Woonplaats"
                       required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input ng-click="placeOrder()" type="submit" class="btn btn-success"
                       ng-disabled="orderForm.$invalid" value="Plaatsen">
            </div>
        </div>
    </form>
</div>
<div ng-show="ready">
    <h1>Bestelling geplaatst</h1>
    Uw bestelling met nummer {{id}} is geplaatst!
</div>