<h1>Producten</h1>
<div class="row">
    <div class="col-sm-12">
        <div class="btn-group" role="group">
            <button ng-class="shop.getClass('')" type="button"
                    ng-click="shop.deactivateCategory()"
                    class="btn btn-lg">
                Alles
            </button>
            <button ng-repeat="category in shop.categories" ng-class="shop.getClass(category.id)" type="button"
                    ng-click="shop.activateCategory(category)"
                    class="btn btn-lg">
                {{category.name}}
            </button>
        </div>
        <form class="form-inline pull-right ">
            <div class="form-group">
                <label class="sr-only" for="search">Name</label>
                <input ng-model="search" type="text" class="form-control" id="search" placeholder="Zoeken">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
            <tr>
                <th>Omschrijving</th>
                <th>Prijs</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in shop.products | filter: shop.categoryFilter | filter: search">
                <td><h4>{{product.name}}</h4>{{product.description}}</td>
                <td> {{product.price | currency:"€"}}</td>
                <td>
                    <button ng-hide="shop.isAdmin()" type="button" ng-click="shop.addItem(product.id)"
                            class="btn btn-success btn-sm pull-right">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Voeg toe
                    </button>
                    <a ng-show="shop.isAdmin()" ng-href="{{'#/products/' + product.id}}"
                       class="btn btn-primary btn-sm pull-right" role="button">
                        <span class="glyphicon glyphicon-pencil"></span> Wijzigen</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a href="/#/create-product" class="btn btn-success" role="button" ng-show="shop.isAdmin()"><span
                class="glyphicon glyphicon-plus"></span> Product toevoegen</a>
    </div>
</div>