<h1>Categorieën</h1>
<div class="row">
    <div class="col-sm-12">
        <div class="btn-group" role="group">
            <button ng-class="shop.getClass('')" type="button"
                    ng-click="shop.deactivateCategory()"
                    class="btn btn-lg">
                Alles
            </button>
            <button ng-repeat="category in shop.categories" ng-class="shop.getClass(category.id)" type="button"
                    ng-click="shop.activateCategory(category)"
                    class="btn btn-lg">
                {{category.name}}
            </button>
        </div>
    </div>
</div>
<h1>Producten</h1>
<h1>{{shop.countItems()}}</h1>
<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
            <tr>
                <th>Omschrijving</th>
                <th>Prijs</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in shop.products | filter: shop.categoryFilter">
                <td><h4>{{product.name}}</h4>{{product.description}}</td>
                <td> {{product.price | currency:"€"}}</td>
                <td>
                    <button type="button" ng-click="shop.addItem(product.id)" class="btn btn-success btn-sm buy">
                        <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Voeg toe
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>