<h1>Product aanmaken</h1>
<form name="productForm" class="form-horizontal" ng-submit="save()" novalidate>
    <div class="form-group"
         ng-class="{'has-error': productForm.description.$dirty && productForm.name.$invalid, 'has-success': productForm.name.$dirty && productForm.name.$valid}">
        <label for="name" class="col-sm-2 control-label">Naam</label>
        <div class="col-sm-10">
            <input type="text" ng-model="product.name" class="form-control" name="name" id="name" placeholder="Naam"
                   required>
        </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error': productForm.description.$dirty && productForm.description.$invalid, 'has-success': productForm.description.$dirty && productForm.description.$valid}">
        <label for="description" class="col-sm-2 control-label">Omschrijving</label>
        <div class="col-sm-10">
            <textarea ng-model="product.description" class="form-control" name="description" id="description" rows="3"
                      placeholder="What's up?" required></textarea>
        </div>
    </div>
    <div class="form-group"
         ng-class="{'has-error': productForm.price.$dirty && productForm.price.$invalid, 'has-success': productForm.price.$dirty && productForm.price.$valid}">
        <label for="price" class="col-sm-2 control-label">Prijs</label>
        <div class="col-sm-10">
            <input type="number" ng-model="product.price" class="form-control" name="price" id="price"
                   placeholder="Prijs" required>
        </div>
    </div>
    <div class="form-group">
        <label for="category" class="col-sm-2 control-label">Categorie</label>
        <div class="col-sm-10">
            <select class="form-control" id="category" ng-model="product.category"
                    ng-options="cat.name for cat in categories track by cat.id">
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success"
                    ng-disabled="productForm.$invalid"><span class="glyphicon glyphicon-floppy-disk"></span> Opslaan
            </button>
        </div>
    </div>
</form>