<h1>Categorieën</h1>
<hr class="divider">
<div class="row">
    <div class="col-sm-3">
        <a ng-click="shop.deactivateCategory(category)"><h2>Alles</h2></a>
    </div>
    <div ng-repeat="category in shop.categories" class="col-sm-3">
        <a ng-click="shop.activateCategory(category)"><h2>{{category.name}}</h2></a>
    </div>
</div>
<h1>Producten</h1>
<h1>{{shop.countItems()}}</h1>
<hr class="divider">
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <table class="table table-bordered">
                <tr ng-repeat="product in shop.products | filter: shop.categoryFilter">
                    <td><h4>{{product.name}}</h4>{{product.description}}
                        <button type="button" ng-click="shop.addItem(product.id)" class="btn btn-success buy">
                            {{product.price | currency:"€"}}&nbsp;
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>